<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>타임리프 연습 1</title>
</head>
<body>
    <h1>타입리프 연습1</h1>
    <div>
        상품명 : <span th:text="${itemDto.itemNm}">AAAA</span>
    </div>
    <div>
        상품 상세 설명 : <span th:text="${itemDto.itemDetail}">AAAA</span>
    </div>
    <div>
        가격 : <span th:text="${itemDto.price}">AAAA</span>
    </div>
    <div>
        재고 수량 : <span th:text="${itemDto.stockNumber}">AAAA</span>
    </div>
    <div>
        <a th:href="@{/item/thymeleaf2(name='홍길동', age=30)}">thymeleaf2 이동</a>
    </div>
</body>
</html>
